$ssBlueColor: #83BBDC;
$ssGrayColor: #E8E5E5;
$ssTitleFontSize: 1.25rem;
$ssContentFontSize: 0.88rem;
.ss-bg-blue{
    background-color: $ssBlueColor;
}
.ss-bg-gray{
    background-color: $ssGrayColor;
}
.ss-blue{
    color: $ssBlueColor;
}
.ss-title-font{
    color: $ssBlueColor;
    font-size: $ssTitleFontSize;
}
.ss-content-font{
    font-size: $ssContentFontSize;
}
pre{
    font-size: 88%;
}
.tab1{
    text-indent: 1rem;
}
.ss-hover-active{
    transition: all 0.3s;
    &:hover{
        box-shadow: -1px 1px 6px 4px #aca9ca;
    }
}